.content {
    padding: 144px 0px 100px 0px;
}

@media (max-width: 576px) {
    .content {
        padding-top: 200px;
    }
}

@media (max-width: 450px) {
    header > h1 {
        font-size: 1.7em !important;
    }
    .content {
        padding-top: 184px;
    }
}

